In [2]:
# coding: utf8
from helpers import read_data_set
from meta_data import tables
from os.path import splitext

In [30]:
for table in tables:
    var_name = splitext(table)[0]
    exec_str = "{0}_df = read_data_set('{1}')".format(var_name, table)
    print exec_str
    exec exec_str

bank_detail_train_df = read_data_set('bank_detail_train.txt')
bill_detail_train_df = read_data_set('bill_detail_train.txt')
browse_history_train_df = read_data_set('browse_history_train.txt')
loan_time_train_df = read_data_set('loan_time_train.txt')
overdue_train_df = read_data_set('overdue_train.txt')
user_info_train_df = read_data_set('user_info_train.txt')
bank_detail_test_df = read_data_set('bank_detail_test.txt')
bill_detail_test_df = read_data_set('bill_detail_test.txt')
browse_history_test_df = read_data_set('browse_history_test.txt')
loan_time_test_df = read_data_set('loan_time_test.txt')
user_info_test_df = read_data_set('user_info_test.txt')
usersID_test_df = read_data_set('usersID_test.txt')

In [32]:
bank_detail_train_df.describe()

               用户id           时间戳          交易类型          交易金额        工资收入标记
count  6.070196e+06  6.070196e+06  6.070196e+06  6.070196e+06  6.070196e+06
mean   1.532010e+04  5.873806e+09  7.171421e-01  1.196549e+01  6.090413e-03
std    1.428022e+04  4.710474e+08  4.503880e-01  2.564622e+00  7.780309e-02
min    1.000000e+00  0.000000e+00  0.000000e+00  2.344542e+00  0.000000e+00
25%    4.039000e+03  5.904307e+09  0.000000e+00  1.058660e+01  0.000000e+00
50%    1.077100e+04  5.912609e+09  1.000000e+00  1.214723e+01  0.000000e+00
75%    2.187600e+04  5.919588e+09  1.000000e+00  1.375666e+01  0.000000e+00
max    5.558700e+04  5.928983e+09  1.000000e+00  2.336958e+01  1.000000e+00

In [33]:
bill_detail_train_df.describe()

,用户id,账单时间戳,银行id,上期账单金额,上期还款金额,信用卡额度,本期账单余额,本期账单最低还款额,消费笔数,本期账单金额,调整金额,循环利息,可用金额,预借现金额度,还款状态
count,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06,2.338117e+06
mean,2.731067e+04,4.829972e+09,1.448161e+02,1.427744e+01,1.377631e+01,1.666117e+01,1.883140e+01,1.702126e+01,9.393315e-01,1.290379e+01,5.697861e-02,2.028316e+00,7.176827e-01,1.020096e+01,1.167606e-04
std,1.590146e+04,2.284577e+09,8.330745e+03,9.835138e+00,8.876701e+00,8.031692e+00,6.021018e+00,5.034383e+00,2.076051e+00,9.125739e+00,2.776627e+00,5.314347e+00,3.656448e+00,9.966707e+00,1.080495e-02
min,2.000000e+00,0.000000e+00,1.000000e+00,-2.406563e+01,-2.488394e+01,-2.243572e+01,-2.361719e+01,-2.292672e+01,0.000000e+00,-2.243188e+01,-2.395331e+01,0.000000e+00,-2.115404e+01,0.000000e+00,0.000000e+00
25%,1.389900e+04,5.878799e+09,6.000000e+00,0.000000e+00,0.000000e+00,1.905498e+01,1.927812e+01,1.713766e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.698000e+04,5.908186e+09,7.000000e+00,1.960654e+01,1.845714e+01,2.015359e+01,2.008135e+01,1.810177e+01,0.000000e+00,1.822041e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.825647e+01,0.000000e+00
75%,4.098800e+04,5.924446e+09,1.300000e+01,2.059639e+01,1.996746e+01,2.106988e+01,2.080107e+01,1.895516e+01,1.000000e+00,1.988685e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.997127e+01,0.000000e+00
max,5.559600e+04,5.952662e+09,5.100570e+05,2.526977e+01,2.833647e+01,2.636820e+01,2.554132e+01,2.472062e+01,1.210000e+02,2.833647e+01,2.351379e+01,2.045085e+01,2.370755e+01,2.833647e+01,1.000000e+00

In [35]:
browse_history_train_df.describe()

               用户id           时间戳        浏览行为数据       浏览子行为编号
count  2.291955e+07  2.291955e+07  2.291955e+07  2.291955e+07
mean   2.818983e+04  5.914855e+09  1.107969e+02  3.689744e+00
std    1.612173e+04  1.569837e+07  5.584776e+01  2.919770e+00
min    2.000000e+00  5.805329e+09  1.000000e+00  1.000000e+00
25%    1.435100e+04  5.908022e+09  5.000000e+01  1.000000e+00
50%    2.805000e+04  5.920593e+09  1.180000e+02  4.000000e+00
75%    4.208500e+04  5.926380e+09  1.640000e+02  6.000000e+00
max    5.559600e+04  5.932209e+09  2.160000e+02  1.100000e+01

In [36]:
loan_time_train_df.describe()

               用户id          放款时间
count  55595.000000  5.559500e+04
mean   27799.000000  5.927564e+09
std    16049.038445  3.754291e+06
min        2.000000  5.914856e+09
25%    13900.500000  5.926261e+09
50%    27799.000000  5.928421e+09
75%    41697.500000  5.930321e+09
max    55596.000000  5.932136e+09

In [37]:
overdue_train_df.describe()

               用户id          样本标签
count  55595.000000  55595.000000
mean   27799.000000      0.129202
std    16049.038445      0.335427
min        2.000000      0.000000
25%    13900.500000      0.000000
50%    27799.000000      0.000000
75%    41697.500000      0.000000
max    55596.000000      1.000000

In [38]:
user_info_train_df.describe()

,用户id,性别,职业,教育程度,婚姻状态,户口类型
count,55595.000000,55595.00000,55595.000000,55595.000000,55595.000000,55595.000000
mean,27798.943358,1.14397,2.382103,3.232845,1.997374,2.342998
std,16049.130996,0.42812,0.755048,0.766713,1.000051,1.181822
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,13900.500000,1.00000,2.000000,3.000000,1.000000,1.000000
50%,27799.000000,1.00000,2.000000,3.000000,2.000000,2.000000
75%,41697.500000,1.00000,3.000000,4.000000,3.000000,4.000000
max,55596.000000,2.00000,4.000000,4.000000,5.000000,4.000000

In [42]:
test_df = bank_detail_train_df.head()
def foo(var1, var2):
    return if

   用户id         时间戳  交易类型       交易金额  工资收入标记
0  6965  5894321388     1  13.756664       0
1  6965  5897553564     0  14.449810       0
2  6965  5897563463     1  10.527763       0
3  6965  5897564598     1  13.651303       0
4  6965  5897564598     1   8.235467       0